    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
                <a href="index.html" class="navbar-brand d-lg-none">
                    <h1 class="fw-bold m-0">RH Vitec</h1>
                </a>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link <%= isActive('/') %>">Accueil</a>
                        <a href="/about" class="nav-item nav-link <%= isActive('/about') %>">A propos</a>
                        <a href="/services" class="nav-item nav-link <%= isActive('/services') %>">Voir les services</a>
                        <a href="/devis" class="nav-item nav-link <%= isActive('/devis') %>">Demande de devis</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    <% function isActive(url) {
        return (req.originalUrl === url) ? 'active' : '';
    } %>
    <!-- Navbar End -->